/*general*/
* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

main {

    margin: 0 auto;
}

img {
    width: 100%;
}

/*fonts*/
h1 {

    color: #2e2e2e;
    font-family: Seaweed Script, cursive;
    font-size: 6rem;
    font-weight: 100;
    margin: 0;
    padding: 0;

}

h2 {
    color: #2e2e2e;
    font-family: Dancing Script, cursive;
    font-size: 2.5rem;
    margin-bottom: 1px;
    text-align: center;
    margin-top:4px;


}

h3 {
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
}

p {
    font-family: Montserrat, sans-serif;
    font-weight: lighter;
    line-height: 150%;
    text-align: justify;
}

/*buttons*/
.button {
    color: #2e2e2e;
    font-family: Dancing Script, cursive;
    text-align: center;
    font-size: 1.6rem;
    text-decoration: none;

    display: block;
    width: 220px;
    padding: 5px;
    background-color: #FFAD54;
    border-radius: 8px;
    box-shadow: 1px 1px 10px 1px rgba(66, 69, 113, 0.55);
    margin-top: 20px;
    margin-bottom: 10px;
    align-self: center;


}

.button:hover {
    background-color: #E9A55C;
    border-radius: 8px;
    box-shadow: 0px 0px 0px 0px rgba(66, 69, 113, 0.75);

}

/*menu*/
.menu {
    color: #E2923C;
    border-bottom: 1px solid #E2923C;
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;

    margin-left: 25px;
    margin-right: 25px;

}

.menu:visited {
    color: #9c9c9c;
    border-bottom: 1px solid #9c9c9c;
}

nav {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*remember: mobile FIRST*/
/*sections */

/*landing page*/
#first_section {
    background-image: url(billeder/splash.jpg);
    width: 100%;
    height: 65vh;
    background-repeat: no-repeat;
    background-size: 180%;
    background-position: 12% 100%;
    max-width: none;
    text-align: right;

}

/*title align*/
#port {
    margin-right: 40px;
    padding-top: 20px;
}

#folie {
    margin-right: 10px;
    margin-top: -40px;

}
/*second section*/
#second_section {
    margin: 0px 30px;

}

#third_section {
    margin: 10px auto;

}

#third_section h2 {
    margin: 80px 40px 0px 40px;

}

#third_section h3{
    padding-top:60px;
}

#third_section .col1 {

    background-image: url(billeder/splashblue.png);
    width: 100%;
    height: 25vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 20px -25px;
    min-width: 100%;
    overflow:visible;
}



.row {
    margin-bottom: 3vh;
}

#third_section .col {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #e8e8e8;

}

footer {
    margin: 10px;
    text-align: right;
}


/*smaller screens and ipad media*/
@media (min-width:750px) {

    /*font*/
    h1 {
        font-size: 10rem;
        color: #2e2e2e;

    }

    h2 {
        font-size: 3rem;
        text-align: left;
    }

    #third_section h3{
        padding-top:30px;
    }


    /*title align*/
    #port {
        margin-right: 15vw;
        padding-top: 20px;
    }

    #folie {
        margin-right: 5vw;
        margin-top: -50px;

    }

    /*menu*/
    .menu {
        margin-right: 50px;
        font-size: 1.5rem;
    }

    .menu:hover {
        color: #5a5a5a;
        border-bottom: 2px solid #5a5a5a;
    }

    nav {
        text-align: right;
    }



    /*sections*/

    #first_section {
        background-image: url(billeder/splash.jpg);
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: 20% 60%;
        max-width: none;

    }


 #second_section .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }



    #second_section .col1 {
        grid-column: 1;
        padding: 0px 30px 0px 0px;
        align-self: center;

    }

    #second_section p {
        font-size: 1.1rem;
        margin-left: 30px;
    }

    #lineart img {
        width: 90%;

        margin-right: -30px;
       margin-top: 80px;
        float:right;
    }

    #lineart {
        grid-column: 2;
        width: 100%;


    }

/*thirdsection*/
    #third_section .row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 100vw;
        margin: 0 auto;
    }



    #third_section .col1 {
        background-image: url(billeder/splashblue.png);
        width: 100%;
        height: 25vh;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: -20px -1vh;
        margin-top: 80px;
        overflow:visible;
    }



    #third_section .col {
        background-color: #e8e8e8;
        padding: 10px;
        align-items: center;
        justify-content: center;
    }
}



/*pc media*/
@media (min-width:1400px) {

    /*font*/
    h1 {
        font-size: 12rem;
        color: white;

    }

    h2 {
        font-size: 4rem;
        text-align: left;
    }

   #third_section h3{
        font-size: 2rem;
        font-weight: bolder;
        color:#ffffff;
        padding-top:5px;
}


    /*menu*/
    .menu {
        margin-right: 70px;
        font-size: 1.5rem;
    }

    .menu:hover {
        color: #5a5a5a;
        border-bottom: 2px solid #5a5a5a;
    }

    nav {
        text-align: right;
    }

    /*sections*/

    #first_section {
        background-image: url(billeder/splash.jpg);
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: 20% 65%;
        max-width: none;
        margin-bottom:70px;
    }

    /*title adjustment*/
    #port {
        margin-right: 10vw;
        padding-top: 3.5vw;
    }

    #folie {
        margin-right: 6vw;
        margin-top: -60px;
    }

    /*second section*/



    #second_section .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
    }



    #second_section .col1 {
        grid-column: 1;
        padding: 0px 30px 0px 0px;
        align-self: center;

    }

    #second_section p {
        font-size: 1.3rem;
        margin-left: 30px;
    }

    #lineart img {
        width: 100%;

    margin-right: -30px;
        margin-top: -135px;
        float:right;
    }

    #lineart {
        grid-column: 2;
        width: 100%;

    }




    /*third sections*/
    #third_sections .row {
        max-width: 100vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0;

    }


    #third_section .col1 {
        background-image: url(billeder/splashblue.png);
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 5px -40px;

        padding-top: 30px;
    }



    #third_section .col {
        background-color: #e8e8e8;
        padding: 30px 30px 20px 30px;
        align-items: center;
    }

}
